<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AudioControl.Properties.Settings>
            <setting name="GAME" serializeAs="String">
                <value>HuntGame</value>
            </setting>
            <setting name="CHAT" serializeAs="String">
                <value>Discord</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>Auto</value>
            </setting>
        </AudioControl.Properties.Settings>
    </userSettings>
</configuration>